PORT=3000

# DB_HOST=localhost
# DB_USER=root
# DB_PASSWORD=contraseñ!
# DB_DATABASE=db_sistemita
# DIALECT=mysql


DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=contraseñ
DB_DATABASE=db_sistemita
DB_USE_SSL=false
DIALECT=postgres
BCRYPT_SALT_ROUNDS=10
JWT_EXPIRES_IN=1h
JWT_SECRET=secretkey
